@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Signika:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

/* ---------------------------------------- Special text/paddings/margins */

h2 {
    font-family: 'Signika', sans-serif;
    font-weight: 600;
}

/* ---------------------------------------- Header */

.navbar {
    font-family: 'Signika', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.navbar .navbar-brand {
    font-size: 28px;
}

/* ---------------------------------------- Callout */

.callout-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero-image.jpg");
    background-color: #fff;  /* used as fallback background if hero image not available */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.callout-text {
    color: #F3FAE7;
}

.btn-join {
    background-color: #DB6400;
    color: #F3FAE7;
    border-color: #F3FAE7;
}

a.btn-join:hover, a.btn-join:active {
    background-color: #F3FAE7;
    color: #DB6400;
}

/* ---------------------------------------- Footer */

footer {
    min-height: 60px;
    padding: 15px 0 0 0;
}

.social-links {
    margin:0;
    text-align: right;
}

.social-links i {
    color: #fff;
}